.character-page {
  display: flex;
  background-color: #faf6f4;
  color: #0c0511;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-left: 75px;
  align-items: center;
  min-height: 100vh;
}

.main-character {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  float: right;
  align-items: start;
  margin-left: -15px;
}

.splashart {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.splashart-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.character-list {
  flex-grow: 1;
  overflow-y: auto;
  width: 90%;
}

.character-section {
  margin-bottom: 70px;
  border-top: solid 1px #b4cadc;
}

.section-heading {
  font-size: 32px;
  font-weight: bold;
  color: #34527e;
  margin-bottom: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.character-card {
  background-color: #dfe1e8;
  color: #0c0511;
  border-radius: 8px;
  border: 1px solid #41cdef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 320px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.character-card:hover {
  transform: translateY(-5px);
  background-color: #41cdef;
}

.character-image {
  width: 100%;
  height: 365px;
  border-radius: 4px;
  margin-bottom: 12px;
  object-fit: cover;
}

.character-name {
  font-size: 24px;
  margin: 10px 0 5px 0;
  color: #0c0511;
}

.character-school {
  font-size: 20px;
  color: #34527e;
}

.school-logo {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  vertical-align: middle;
}

.alphabet-sidebar {
  position: sticky;
  top: 65px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #faf6f4;
  z-index: 1000;
  max-width: 50px;
  width: 5%;
  overflow-y: scroll;
  max-height: 600px;
  justify-content: center;
  border-top: solid 1px #b4cadc;
}

.alphabet-link {
  display: inline-block;
  color: #34527e;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  margin: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 25%;
  background-color: #dfe1e8;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.alphabet-link:hover {
  color: #faf6f4;
  background-color: #41cdef;
}

@media (max-width: 480px) {
  .character-page {
    margin-left: 0;
  }
  .splashart {
    max-width: 200px;
    max-height: 120px;
  }
  .character-card {
    width: 240px;
  }
  .alphabet-sidebar {
    top: 80px;
    max-height: 800px;
    overflow-y: visible;
  }
  .main-character {
    margin-left: -20px;
  }
  .character-name {
    font-size: 22px;
  }
  .character-school {
    font-size: 12;
  }
}
