.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@media (min-width: 481px) {
  .modal-content {
    margin-top: 50px;
  }
}

.modal-content {
  background: #fff;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 90%; /* Maksimum tinggi modal */
  overflow-y: auto; /* Aktifkan scroll pada modal */
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.character-portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.character-details {
  font-size: 14px;
  line-height: 1.5;
}

.error-message {
  color: red;
  text-align: center;
}
