.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@media (min-width: 481px) {
  .modal-content {
    margin-top: 50px;
  }
}

.modal-content {
  background: #fff;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.modal-close-button {
  position: sticky;
  background: transparent;
  border: none;
  font-size: 27px;
  cursor: pointer;
  display: flex;
  justify-self: end;
}

.character-portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.character-details {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}

.affinities-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.affinity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.affinity-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.affinity-icon {
  width: 24px;
  height: 24px;
}

.emotion-icon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.affinity-item p {
  margin-top: 5px;
  font-size: 14px;
}
